name: Test
on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ../go.mod
        id: go

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start dependencies
        run: docker run -d --name ci-redis -p 6379:6379 redis

      - name: Run tests
        run: go test -v ./...
