name: Test
on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: docker:dind
      options: --privileged
    steps:
      - name: Start Docker daemon
        run: |
          dockerd &
          sleep 5

      - name: Install dependencies
        run: apk add --no-cache git go docker-compose

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start dependencies
        run: docker-compose -f ci/compose.yml up -d

      - name: Install redis-cli
        run: apk --update add redis

      - name: Check Redis is alive
        run: redis-cli -h redis:6379 ping

      # - name: Run tests
      #   run: docker-compose -f ci/compose.yml up -d && go test -v ./...
